{% set form = forms['edit_form']%}

{% if not first %}
    {% set delete_form = forms['delete_form'] %}
    {% set move_form = forms['move_form'] %}
{% endif %}

<form method="POST", action={{ url_for_wiki('wiki_save')  }}>
    <div id='editor'>
        {{form.hidden_tag()}}
        {{form.pagekey(value=form.key)}}
        {{form.edit_content(placeholder='Edit Page Content') }}
        {{form.submit()}}
    </div>
</form>

{% if move_form %}
    <form method="POST", action={{ url_for_wiki('wiki_move') }}>
        {{move_form.hidden_tag()}}
        {{move_form.oldkey()}}
        {{move_form.newkey(placeholder="New path for page(in relation to wiki base)")}}
        {{move_form.submit()}}
    </form>
{% endif %}

{% if delete_form %}
    <form method="POST", action={{ url_for_wiki('wiki_delete') }}>
        {{delete_form.hidden_tag()}}
        {{delete_form.delete()}}
        {{delete_form.submit()}}
    </form>
{% endif %}

<div id='preview'>{{page}}</div>
